<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joacir Soares Arlego Reis">
    <title>Projeto 02</title>
    <link rel="shortcut icon" href="media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style2.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <div>
                <div class="logo-1">
                    <a title="Logotipo" href="/"><img src="media/logotipo-principal-2.png" alt="Logotipo"></a>
                </div> <!--logo-1-->
            </div>
            <div>
                <div class="logo-2">
                    <a title="Logotipo" href="/Projeto02"><img src="media/meu-logotipo.png" alt="Logotipo"></a>
                </div> <!--logo-2-->
            </div>
            <div class="clear"></div>
        </div> <!--container-->
    </header> <!--header-->

    <section class="section">
        <div class="container">
            <div class="container-form">
                <h2>Preencha o formulário e <br> inicie a caminhada para <br> ser um Estudante+!</h2>
                <form method="POST">
                    <p class="input"><label for="fname">Nome</label></p>
                    <input type="text" name="name" id="fname" placeholder="Nome Completo" required>

                    <p class="input"><label for="femail">E-mail</label></p>
                    <input type="email" name="email" id="femail" placeholder="Digite seu E-mail" required>

                    <p class="input"><label for="fsenha">Senha</label></p>
                    <input type="password" name="senha" id="fsenha" placeholder="Digite sua senha" required>

                    <div class="center">
                        <input type="submit" name="Enviar">
                    </div>

                    <p id="campos">*Campos Obrigatórios*</p>
                </form>
            </div> <!--container-form-->
            <div class="clear"></div>
        </div> <!--container-->
        <section class="intersection">
            <div class="seta">
                <img src="media/seta.png" alt="Seta">
            </div>
            <div class="center">
                <h2>Saiba mais</h2>
                <p>Do jeito que você gosta de estudar, onde, e quando você quiser, o Estude+ vai estar lá por você. Com uma plataforma única o Estude+ proporciona mais de tempo e esfoço em suas produções, sendo até mesmo reconhecido por grandes professores comtenporâneos e recomendado por varios sites Brasileiros.</p>
            </div> <!--center-->
        </section> <!--intersection-->
        <section class="mosaico">
            <div class="flex-mosaico">
                <div class="item-mosaico-1" style="background-image: url(/media/Alice.webp);"></div>
                <div class="item-mosaico-2">
                    <h2>Alice</h2>
                    <p>Com meus 19 anos eu estava me preparando para o vestibular de Inglês, com o curso do Estude+ eu consegui ficar em primeiro lugar nas provas.</p>
                </div> <!--item-mosaico-2-->
            </div> <!--flex-mosaico-->
            <div class="flex-mosaico">
                <div class="item-mosaico-1" style="background-image: url(/media/Augusto1.jpg); order: 2;"></div>
                <div class="item-mosaico-2" style="order: 1;">
                    <h2>Augusto</h2>
                    <p>Com meus 27 anos, eu me ingressei no curso com intenção de me aperfeiçoar em materia científica pro meu curso de enfermagem, agora que acabei o curso estou muito feliz e satisfeito com o Estude+.</p>
                </div> <!--item-mosaico-2-->
            </div> <!--flex-mosaico-->
            <div class="flex-mosaico">
                <div class="item-mosaico-1" style="background-image: url(/media/Bianca.jpg);"></div>
                <div class="item-mosaico-2">
                    <h2>Bianca</h2>
                    <p>Com meus 17 anos eu Estudei pelo Estude+, e agora com meus 20 anos estou cursando duas faculdades, a de história e filosofía, graças ao curso estou conseguindo me adaptar a elas.</p>
                </div> <!--item-mosaico-2-->
            </div> <!--flex-mosaico-->
            <div class="flex-mosaico">
                <div class="item-mosaico-1" style="background-image: url(/media/Carlos.jpg); order: 2;"></div>
                <div class="item-mosaico-2" style="order: 1;">
                    <h2>Carlos</h2>
                    <p>Eu tinha dificuldade de estudar progamação, mas com o curso Estude+, eu adquiri a auto diciplina necessária e construções de sites diferênciados.</p>
                </div> <!--item-mosaico-2-->
            </div> <!--flex-mosaico-->
        </section> <!--mosaico-->

        <footer class="footer">
            <p>
                Copyright &copy; 2021 - by Joacir Soares<br>
                <a href="https://www.instagram.com/joacir_soares/" rel="external" target="_blank">Instagram</a> |
                <a href="https://www.linkedin.com/in/joacir-soares-32aa00182/" rel="external" target="_blank">Linkedin</a> |
                <a href="https://discord.gg/EYUUqU5e" rel="external" target="_blank">Discord</a> |
                <a href="https://www.youtube.com/channel/UCp9y8nnkKMtZGD6N1v8e5JA/videos" rel="external" target="_blank">Youtube</a>
            </p>
        </footer> <!--footer-->
    </section> <!--section-->
</body>
</html>