<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joacir Soares Arlego Reis">
    <title>Área do Entrevistador</title>
    <link rel='stylesheet' href='/styles/main.css' />
    <link rel="shortcut icon" href="media/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header-principal">
        <div class="container">
            <div class="logo-header">
                <a href="/">
                    <img src="media/logotipo-principal.png" alt="Logotipo">
                </a>
            </div> <!--logo-header-->
            <img class="menu" src="media/Menu.png" alt="">
            <div class="right">
                <nav class="navigation-header">
                    <ul>
                        <li>
                            <a class="a1" href="/"><span class="container-a">Inicio</span></a>
                        </li>
                        <li>
                            <a href="/curriculo"><span class="container-a">Curriculo</span></a>
                        </li>
                        <li><p>
                            <span class="container-a container-outros">Outros Sites</span>
                            <div class="container-sites">
                                <div class="espaço-a e1"><a href="/MeuProjeto">Projeto-00</a></div>
                                <div class="espaço-a e1"><a href="/Projeto01">Projeto-01</a></div>
                                <div class="espaço-a e1"><a href="/Projeto02">Projeto-02</a></div>
                            </div>
                        </p></li>
                    </ul>
                </nav> <!--navigation-header-->
            </div>
            <div class="clear"></div>
        </div> <!--container-->
    </header> <!--header-principal-->
    <nav class="navigation-header-2">
        <ul>
            <li>
                <a class="a1" href="/"><span class="container-a">Inicio</span></a>
            </li> 
            <li>
                <a href="/curriculo"><span class="container-a">Curriculo</span></a>
            </li>
            <li>
                <p>
                    <span id="os2" class="container-a container-outros-2">Outros sites</span>
                    <div class="container-sites-2">
                        <div class="outros-sites-2">
                            <div class="espaço-a e2"><a href="/MeuProjeto">Projeto-00</a></div>
                            <div class="espaço-a e2"><a href="/Projeto01">Projeto-01</a></div>
                            <div class="espaço-a e2"><a href="/Projeto02">Projeto-02</a></div>
                        </div>
                    </div>
                </p>
            </li>
        </ul>
    </nav> <!--navigation-header-2-->
    <section class="section-principal">
        <div class="container">
            <div class="container-principal">
                <div class="container-1">
                    <h1>Sinta-se muito bem vindo ao visita meu <span>site</span></h1>
                    <p><samp id="msg"></samp> Meu nome é Joacir, e estou na caminha para me tornar um Profissional WebMaster, mas, não pretendo parar por aí!</p>
                </div> <!--container-1-->
                <div class="container-2">
                    <div class="linkedin">
                        <a target="_blank" href="https://www.linkedin.com/in/joacir-soares-32aa00182/">
                            <h2>Conheça meu Linkedin</h2>
                        </a>
                    </div> <!--child-1-->
                    <div class="github">
                        <a target="_blank" href="https://github.com/JoacirSoares?tab=repositories">
                            <h2>Conheça meu GitHub</h2>
                        </a>
                    </div> <!--child-2-->
                </div> <!--container-2-->
            </div>
            <div class="sites">
                <img src="media/sites.png" alt="">
            </div> <!--sites-->
        </div> <!--container-->
        <div class="clear"></div>
    </section> <!--section-principal-->
    <div class="site-background">
        <section class="section-secondary">
            <div class="section-1">
                <h2>Precisando de uma pessoa com disposição e vontade de aprender ainda mais e se desenvolver profissionalmente? <p> Então me dê uma chance!</p></h2>
            </div> <!--section-1-->
            <div class="section-2">
                <p>Este projeto foi uma criação original, onde aproveitei para desenvolver diversos sites, para que, assim, todos possam se apossar de mais informações sobre o meu trabalho. <br> Eu estou disponibilizando videos sobre a criação de sites no meu canal do Youtube. Venha conhecer mais ao vivo!
                </p>
                <div class="youtube">
                    <a href="https://www.youtube.com/channel/UCp9y8nnkKMtZGD6N1v8e5JA" target="_blank"><h2>Conheça meu Canal</h2></a>
                </div> <!--youtube-->
            </div> <!--section-2-->
            <div class="clear"></div>
        </section><!--section-secondary-->
    </div> <!--site-background-->
    <section class="section-tertiary">
        <div class="container-tertiary">
            <div class="section-life">
                <div class="life">
                    <h2>Minha vida pessoal?</h2>
                    <p>Como dito anteriormente, meu nome é Joacir e estou na caminhada para me tornar um Profissional WebMaster. Eu venho de uma pequena cidade da Chapada Diamantina. Tenho 18 anos, mas, desde de criança tenho um grande entusiamo pela ciência e tecnologia.</p>
                </div> <!--life-->
                <div class="abra">
                    <div class="titles">
                        <div class="pad1">
                            <h2>Minha vida pessoal?</h2>
                        </div> <!--pad1-->
                    </div> <!--titles-->
                    <div class="instagram">
                        <div class="pad2">
                            <a href="https://www.instagram.com/joacir_soares/" target="_blank"><h2>Conheça meu Instagram</h2></a>
                        </div> <!--pad2-->
                    </div> <!--instagram-->
                </div>
                <div class="clear"></div>
            </div> <!--section-life-->
        </div> <!--container-tertiary-->
    </section> <!--section-tertiary-->
    <div class="clear"></div>
    <footer class="footer-principal">
        <div class="footer-fim" id="logo-footer">
            <img src="media/logotipo-principal.png" alt="Logotipo">
        </div> <!--footer-logo-->
        <div class="footer-fim" id="email">
            <p><a target="_blank" href="https://mail.google.com/mail/u/2/?pc=topnav-about-n-en#search/joacir2002%40gmail.com?compose=new">E-mail Profissional</a></p>
        </div> <!--email-->
        <div class="footer-fim" id="copyright">
            <p>Copyright &copy; 2021 - by Joacir Soares<br>Todos os direitos reservados</p>
        </div>
        <div class="clear"></div>
    </footer> <!--footer-principal-->
    <script src="/js/index.js"></script>
</body>
</html>
