<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto 1</title>
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header id="cabecalho">
        <div class="center">
            <a href="/Projeto02"><img src="/media/meu-logotipo.png" alt="meu-logotipo.png/imagem" title="Estude+"></a>
        </div> <!--center-->
    </header>

    <section id="corpo">
        <div class="altura">
            <aside>
                <ul>
                    <li>Matemática com o Estude+!</li>
                    <li>Português com o Estude+!</li>
                    <li>Computação com o Estude+!</li>
                    <li>Inglês com o Estude+!</li>
                    <li>História com o Estude+!</li>
                    <li>Física com o Estude+!</li>
                </ul>
            </aside>

            <div class="form">
                <form>
                    <h2>Preencha o formulário e inicie a caminhada para ser um Estudante+!</h2>
                    <div class="meio">
                        <span>Nome Completo*</span>
                        <input type="text" name="nome" required>
                    </div> <!--meio-->
                    <div class="meio">
                        <span>E-mail*</span>
                        <input type="email" name="nome" required>
                    </div> <!--meio-->
                    <div class="meio">
                        <span>Telefone*</span>
                        <input type="text" name="nome" required>
                    </div> <!--meio-->
                    <p id="ajuda">*Campos obrigatórios*</p>
                    <div class="baixo">
                        <input type="submit" name="ação" value="Enviar">
                    </div> <!--baixo-->
                </form>
            </div> <!--form-->
            <div class="clear"></div>
        </div> <!--altura-->
        <div>
            <div class="intersecao">
                <h2>Saiba sobre</h2>
                <p>Do jeito que você gosta de estudar, onde, e quando você quiser, o Estude+ vai estar lá por você. Com uma plataforma única o Estude+ proporciona mais de tempo e esfoço em suas produções, sendo até mesmo reconhecido por grandes professores comtenporâneos e recomendado por varios sites Brasileiros.</p>
            </div> <!--intercecao-->
        </div>
        <div class="seta"></div>
        <div class="antes-do-rodape">
            <h2>Aprenda com quem já fez o curso</h2>
            <div class="coletivo">
                <div class="individual">
                    <img src="/media/alice1.webp" alt="Alice" title="Alice">
                    <h3>Alice</h3>
                    <p>Com meus 19 anos eu estava me preparando para o vestibular de Inglês, com o curso do Estude+ eu consegui ficar em primeiro lugar nas provas.</p>
                </div> <!--individual-->
                <div class="individual">
                    <img src="/media/bianca1.jpg" alt="Bianca" title="Bianca">
                    <h3>Bianca</h3>
                    <p>Com meus 17 anos eu Estudei pelo Estude+, e agora com meus 20 anos estou cursando duas faculdades, a de história e filosofía.</p>
                </div> <!--individual-->
                <div class="individual">
                    <img src="/media/carlos1.jpg" alt="Carlos" title="Carlos">
                    <h3>Carlos</h3>
                    <p>Eu tinha dificuldade de estudar progamação, mas com o curso Estude+, eu adquiri a auto diciplina necessária.</p>
                </div> <!--individual-->
            </div> <!--coletivo-->
        </div> <!--antes-do-rodape-->
            <footer id="rodape">
        <p>Todos os direitos reservados</p>
        <p>Feito por Joacir Soares Arlego Reis</p>
    </footer>
    </section>

</body>
</html>